{{ template "chart.header" . }}
{{ template "chart.description" . }}

When metrics are enabled, you can pull the data into grafana using the https://grafana.com/grafana/dashboards/10013 chart

{{ template "chart.versionLine" . }}

{{ template "chart.sourceLinkLine" . }}

{{ template "chart.requirementsSection" . }}

{{ template "chart.valuesSection" . }}

